body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-header {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #030303;
    
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.sidebar-item {
    border-bottom: 1px solid #040404;
}

.sidebar-item a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
}

.sidebar-item a:hover {
    background-color: #c56565;
}

.sidebar-footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #020202;
    border-right: 1px solid #020202;
    border-bottom:1px solid #020202;;
    text-decoration: none;
}


.content {
    flex-grow: 1;
    padding: 20px;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.icon {
    margin-left: 15px;
    font-size: 20px;
}

.about-us h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-us p {
    line-height: 1.6;
    font-size: 16px;
}
