body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
}

.logo img {
    height: 50px;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #005bb5;
    color: white;
    border-radius: 0 5px 5px 0;
}

.auth-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.main {
    padding: 20px;
}

.top-section {
    text-align: center;
}

.top-section .highlights {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.highlights .highlight-item {
    width: 30%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
   
}
.highlights .highlight-item  p{
    text-decoration: none;
}

.highlight-item img {
   
    width: 100%;
    border-radius: 10px;
    
}

.categories {
    margin-top: 40px;
}

.categories .category-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.category-icons .category {
    text-align: center;
}

.category img {
    height: 50px;
}

.products, .laptops, .watches, .earbuds, .pc-build {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    width: 22%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #0b0b0b;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}
  
